<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<!-- Logout button -->
<div class="buttons-panel2">
    <a href="/logout" class="btn btn-secondary">Logout</a>
</div>

<!-- Create product -->
<form th:action="@{/warehouse/createItem}" method="get">
    <div class="buttons-panel">
        <button type="submit" class="btn btn-success">Create new item</button>
    </div>
</form>

<!-- Tabs with view all items and also view orders coming from shops -->
<div class="container mt-5">
    <div class="titles" th:object="${warehouse}">
        <h1><span th:text="${warehouse.name}"></span>' Admin panel</h1><br>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="item-tab" data-toggle="tab" href="#item"
               role="tab" aria-controls="items" aria-selected="true">All items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contract-tab" data-toggle="tab" href="#pending_contracts"
               role="tab" aria-controls="contract" aria-selected="false">Pending contracts</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">

        <!-- All items -->
        <div class="tab-pane fade show active" id="item" role="tabpanel" aria-labelledby="item-tab">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <!-- Loop through the items and display a row for each one -->
                <tr th:each="item : ${items}">
                    <td th:text="${item.name}" width="33%"></td>
                    <td th:text="${itemQuantities.get(item)}"  width="33%"></td>
                    <td width="33%">
                        <a th:href="@{/warehouse/editItem/{itemId}(itemId=${item.id})}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- All pending contracts -->
        <div class="tab-pane fade show active" id="pending_contracts" role="tabpanel" aria-labelledby="contract-tab">
            <table class="table">
                <thead>
                <tr>
                    <th>Shop name</th>
                    <th>Approve</th>
                    <th>Reject</th>
                </tr>
                </thead>
                <tbody>

                <!-- Loop through the items and display a row for each one -->
                <tr th:each="shop : ${pendingContracts}">
                    <td th:text="${shop.name}"  width="33%"></td>
                    <td width="33%">
                        <form th:action="@{/contract/approve-reject}" method="post">
                            <input type="hidden" name="id" th:value="${shop.id}"/>
                            <button type="submit" name="action" value="Approved" class="btn btn-success">Approve
                            </button>
                        </form>
                    </td>
                    <td width="33%">
                        <form th:action="@{/contract/approve-reject}" method="post">
                            <input type="hidden" name="id" th:value="${shop.id}"/>
                            <button type="submit" name="action" value="Rejected" class="btn btn-danger">Reject</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    });
</script>

</body>
</html>
