<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="form-container">
    <h2>Change Password</h2><br>
    <form method="post" th:object="${form}" th:action="@{/private/changePassword}">

        <!-- Current Password -->
        <div class="form-group">
            <label for="currentPassword">Current password</label>
            <input type="password"
                   class="form-control"
                   id="currentPassword"
                   name="currentPassword"
                   th:field="*{currentPassword}"
                   placeholder="Enter your current password">
            <span class="has-error" th:if="${#fields.hasErrors('currentPassword')}"
                  th:errors="*{currentPassword}"></span><br>
        </div>

        <!-- New Password -->
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password"
                   class="form-control"
                   id="newPassword"
                   name="newPassword"
                   th:field="*{newPassword}"
                   placeholder="Enter new password">
            <span class="has-error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span><br>
        </div>

        <!-- Confirm New Password -->
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   id="confirmPassword"
                   name="confirmPassword"
                   th:field="*{confirmPassword}"
                   placeholder="Confirm new password">

            <span class="has-error" th:if="${#fields.hasErrors('confirmPassword')}"
                  th:errors="*{confirmPassword}"></span><br>
        </div>

        <!-- Buttons aria -->
        <div class="buttons">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/private" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
</div>
</body>
</html>
