<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css"/>
</head>
<body>

<!-- Logout button -->
<div class="buttons-panel2">
    <a href="/logout" class="btn btn-secondary">Logout</a>
</div>

<div></div>
<div class="container mt-5">
    <div class="titles">
        <h1>E-Commerce platform</h1>
    </div>
    <br><br>

    <!-- Search form-->
    <form class="form-inline" th:action="@{/search}" method="get">
        <input class="form-control mr-sm-2 w-75" type="search" name="searchedItem" placeholder="Search..."
               aria-label="Search"/>
        <!-- TODO: add more fancy list of shops -->

        <!--                <select name="shops" class="js-example-basic-multiple" aria-label="Select shops" multiple>-->
        <!--                    <option th:each="shop : ${shops}" th:value="${shop.id}" th:text="${shop.name}" name="requiredShop"></option>-->
        <!--                </select>-->
        <div class="scrollable-list">
            <ul>
                <li th:each="shop : ${shops}" class="shop-item">
                    <label>
                        <input type="checkbox" name="requiredShop" th:value="${shop.id}"/>
                    </label>
                    <label th:text="${shop.name}"></label>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-info" type="submit">Search</button>
        <br>
    </form>
    <br>

    <!-- Items -->
    <form th:action="@{/customer/purchase}" method="get">
        <div class="titles">
            <h3>Items </h3>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Shop</th>
                <th>Add to cart</th>
            </tr>
            </thead>
            <tbody>

            <!-- Loop through the items and display a row for each one -->
            <tr th:each="shopItem : ${shopItems}">
                <td th:text="${shopItem.item.name}" width="33%"></td>
                <td th:text="${shopItem.shop.name}" width="33%"></td>
                <td width="33%">
                    <label>
                        <input type="checkbox" name="purchaseItemsId" th:value="${shopItem.id}"/>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="buttons">
            <button class="btn btn-success " type="submit">Go to cart</button>
        </div>
    </form>
</div>
</body>
</html>

<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>
