<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<!-- Logout button -->
<div class="buttons-panel">
    <a href="/logout" class="btn btn-secondary">Logout</a>
</div>

<div class="container mt-5">
    <form class="form-inline" th:action="@{/search}" method="get">
        <input class="form-control mr-sm-2 w-75" type="search" name="searchedItem" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Shop</th>
        </tr>
        </thead>
        <tbody>

        <!-- Loop through the items and display a row for each one -->
        <tr th:each="shopItem : ${shopItems}">
            <td th:text="${shopItem.item.name}"  width="50%"></td>
            <td th:text="${shopItem.shop.name}"  width="50%"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
