<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="buttons-panel2">
    <a href="/shop" class="btn btn-info">Back to main panel</a>
</div>

<!-- Tabs with view all items from that warehouse -->
<div class="container mt-5">

    <div class="titles" th:object="${warehouse}">
        <h1><span th:text="${warehouse.name}"></span>' inventory</h1><br>
    </div>

    <form method="post" th:object="${orderCartModel}"
          th:action="@{/shop/placeOrder/{warehouseId}(warehouseId=${warehouse.warehouse_id})}">

        <!-- Check if warehouse is empty -->
        <div th:if="${emptyWarehouse=='yes'}" class="center">
            <h3>There are no items in this warehouse</h3>
        </div>

        <!-- All items -->
        <div th:unless="${emptyWarehouse=='yes'}" class="tab-pane fade show active" id="item" role="tabpanel" aria-labelledby="item-tab">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>

                <!-- Loop through the items and display a row for each one -->
                <tr th:each="item, itemStat : *{orderItems}">
                    <td width="50%" th:text="${orderItems[__${itemStat.index}__].itemName}"></td>
                    <td width="50%"><label>
                        <input
                                type="number"
                                placeholder="Quantity"
                                name="quantity"
                                min="0"
                                th:field="*{orderItems[__${itemStat.index}__].itemQuantity}"/>
                    </label></td>
                </tr>
                </tbody>
            </table>

            <div th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></div>

            <div class="buttons">
                <button type="submit" class="btn btn-outline-success">Place order</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    });
</script>

</body>
</html>
